body {
  /* background-image: url("../images/femshep.png");
  background-size: cover; */
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

p {
  color: white;
}

.title {}

.timer-and-question {
  margin-top: 20%;
}

.button-container {
  margin-top: 20%;
}

.image-div {
  margin-top: 20px;
  text-align: center;
}

.hint-img {
  border-radius: 100%;
  width: 50%;
}
